
\.idea/workspace\.xml

src/test/java/com/org/MavenTests/AddressesTests\.java

target/test-classes/POM/AddressesPage\.class

target/test-classes/POM/BasePage\.class

target/test-classes/POM/AuthenticationPage\.class

target/test-classes/POM/PersonalPage\.class

target/test-classes/com/org/MavenTests/AddressesTests\.class

target/test-classes/com/org/MavenTests/LoginPageTests\.class

target/test-classes/com/org/MavenTests/PersonalInfoTests\.class

target/test-classes/com/org/MavenTests/RegPageTest\.class

target/test-classes/com/org/MavenTests/TestBase\.class

target/test-classes/com/org/MavenTests/UserProfileTests\.class

target/test-classes/POM/LoginPage\.class

target/test-classes/POM/RegistrationPage\.class

\.idea/compiler\.xml

\.idea/libraries/Maven__org_testng_testng_7_0_0_beta1\.xml

dependency-reduced-pom\.xml

MavenTestsProject\.iml

\.idea/modules\.xml

\.idea/TestsDemoQA\.iml

target/test-classes/Models/User\$Country\.class

target/test-classes/Models/User\.class

*.class

*.log

\.idea/libraries/Maven__org_apache_logging_log4j_log4j_core_2_11_1\.xml

\.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_11_1\.xml

\.idea/libraries/Maven__log4j_log4j_1_2_17\.xml

target/classes/config\.properties

target/classes/log4j2\.xml

target/classes/testng\.xml

\.idea/libraries/
