
\.idea/workspace\.xml

target/test-classes/framework.pageObjectModels/AddressesPage\.class

target/test-classes/framework.pageObjectModels/BasePage\.class

target/test-classes/framework.pageObjectModels/AuthenticationPage\.class

target/test-classes/framework.pageObjectModels/PersonalPage\.class

target/test-classes/com/org/MavenTests/AddressesTests\.class

target/test-classes/com/org/MavenTests/LoginPageTests\.class

target/test-classes/com/org/MavenTests/PersonalInfoTests\.class

target/test-classes/com/org/MavenTests/RegPageTest\.class

target/test-classes/com/org/MavenTests/TestBase\.class

target/test-classes/com/org/MavenTests/UserProfileTests\.class

target/test-classes/framework.pageObjectModels/LoginPage\.class

target/test-classes/framework.pageObjectModels/RegistrationPage\.class

\.idea/compiler\.xml

\.idea/libraries/Maven__org_testng_testng_7_0_0_beta1\.xml

dependency-reduced-pom\.xml

MavenTestsProject\.iml

\.idea/modules\.xml

\.idea/TestsDemoQA\.iml

target/test-classes/framework.models/User\$Country\.class

target/test-classes/framework.models/User\.class

*.class

*.log

\.idea/libraries/Maven__org_apache_logging_log4j_log4j_core_2_11_1\.xml

\.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_11_1\.xml

\.idea/libraries/Maven__log4j_log4j_1_2_17\.xml

target/classes/config\.properties

target/classes/log4j2\.xml

target/classes/testng\.xml

\.idea/libraries/

target/classes/

target/test-classes/

\.idea/

test-output/Default suite/

test-output/old/Default suite/

test-output/old/TestSuite/

test-output/

allure-results/

target/surefire-reports/

target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/

target/maven-status/maven-compiler-plugin/compile/default-compile/

target/maven-archiver/

target/
