<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "MainSuite" verbose="2">
	<parameter name = "validUserData" value="src\\test\\data\\validUser.json"/>
	<parameter name = "invalidUserData" value="src\\test\\data\\invalidUser.json"/>
	<parameter name = "upperUserData" value="src\\test\\data\\upperUser.json"/>
	<parameter name="registeredUserData" value="src\\test\\data\\registeredUser.json"/>
	<test name = "test1">
		<groups>
			<run>
				<include name="regression"/>
			</run>
		</groups>
		<classes>
			<class name="tests.AddressesTests"/>
			<class name="tests.RegPageTest" />
			<class name="tests.LoginPageTests"/>
			<class name="tests.PersonalInfoTests"/>
		</classes>
	</test>
</suite>

